p {
    font-size: 35px;
    padding: 30px;
}

#shadow1 {
    color: white;
    text-shadow: -1px -1px 3px red;
}

#shadow2 {
    color: white;
    background-color: black;
    text-shadow: 0 0 5px white,
                 0 0 10px white,    
                 0 0 15px white,
                 0 0 20px lime;
}

#shadow3 {
    width: 300px;
    color: #92a5de;
    background: #FF0000;
    text-shadow: 0px 0px 0 #899CD5,
                 1px 1px 0 #8194CD,
                 2px 2px 0 #788BC4, 
                 3px 3px 0 #6F82BB, 
                 4px 4px 0 #677AB3, 
                 5px 5px 0 #5E71AA, 
                 6px 6px 0 #5568A1, 
                 7px 7px 0 #4C5F98, 
                 8px 8px 0 #445790, 
                 9px 9px 0 #3B4E87, 
                 10px 10px 0 #32457E, 
                 11px 11px 0 #2A3D76, 
                 12px 12px 0 #21346D, 
                 13px 13px 0 #182B64, 
                 14px 14px 0 #0F225B, 
                 15px 15px 0 #071A53, 
                 16px 16px 0 #02114A, 17px 17px 0 #0B0841, 18px 18px 0 #130039, 
                 19px 19px 0 #1C0930, 20px 20px 0 #251227, 21px 21px 20px rgba(0,0,0,1), 
                 21px 21px 1px rgba(0,0,0,0.5), 0px 0px 20px rgba(0,0,0,.2);
}


#shadow4 {
    width: 300px;
    text-align: center;
    color: white;
    background: #333333;
    text-shadow: white 0px 0px 5px, 
                 white 0px 0px 10px, 
                 white 0px 0px 15px, 
                 skyblue 0px 0px 20px, 
                 skyblue 0px 0px 30px, 
                 skyblue 0px 0px 40px, 
                 blue 0px 0px 50px, 
                 blue 0px 0px 75px;
}

#box-shadow1 {
    width: 300px;
    text-align: center;
    color: white;
    background: mediumaquamarine;
    box-shadow: white 1px 1px 0px, 
                white 2px 2px 0px, 
                white 3px 3px 0px, 
                skyblue 4px 4px 10px, 
                skyblue 5px 5px 10px, 
                skyblue 6px 6px 10px, 
                blue 7px 7px 15px, 
                blue 8px 8px 20px,
                white -1px -1px 0px, 
                white -2px -2px 0px, 
                white -3px -3px 0px, 
                pink -4px -4px 10px, 
                pink -5px -5px 10px, 
                pink -6px -6px 10px, 
                red -7px -7px 15px, 
                red -8px -8px 20px;
}

#box-shadow2 {
    width: 300px;
    text-align: center;
    background: red;
    box-shadow: 
                orange 5px 5px 2px, 
                yellow 10px 10px 2px,
                green 15px 15px 2px, 
                blue 20px 20px 2px,  
                navy 25px 25px 2px, 
                purple 30px 30px 2px; 

            
            
}