@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Dokdo&family=Gugi&family=Kirang+Haerang&display=swap');

html {
    font-family: 'Gugi', '궁서체', cursive;
}

#div1 {
    font-family: 'Dokdo', cursive;
}

#div2 {
    font-family: 'Kirang Haerang', cursive;
}